@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @layer base {
    .wrapper {
      @apply max-w-[1312px] px-4 mx-auto;
    }

    .heading {
      @apply text-white font-sans text-[56px] font-semibold leading-[68px];
    }

    .heading-2 {
      @apply font-sans text-5xl font-semibold leading-[58px] text-darkBlue;
    }

    .heading-3 {
      @apply text-darkBlue font-sans text-4xl font-semibold leading-[54px];
    }

    .heading-4 {
      @apply text-darkBlue font-sans text-2xl font-semibold leading-9;
    }

    .heading-6 {
      @apply text-darkBlue font-sans text-base font-semibold leading-7;
    }

    .paragraph {
      @apply text-grey font-sans text-base font-normal leading-6;
    }

    .paragraph-small {
      @apply font-sans text-darkBlue text-sm font-medium leading-5;
    }

    .paragraph-large {
      @apply font-sans text-darkBlue text-lg font-medium leading-7;
    }

    .text-link {
      @apply font-sans text-base font-medium leading-6 text-darkBlue;
    }

    .label-medium {
      @apply font-sans text-base font-medium leading-6 text-black;
    }

    .label-small {
      @apply font-sans text-xs font-medium leading-4;
    }

    .caption {
      @apply font-sans text-sm font-medium leading-5 tracking-[3px] uppercase;
    }
  }
}

#quotes .alice-carousel__dots {
  display: flex;
  justify-content: center;
  column-gap: 18.5px;
  margin-top: 24px;
}

#quotes .alice-carousel__stage {
  display: flex;
}

#quotes .alice-carousel__stage-item {
  flex: 1 0 auto;
  height: auto;
}
