---
import Layout from "../layouts/Layout.astro";
import Header from "./../components/sections/Header";
import Footer from "../components/sections/Footer";
---

<Layout title="Welcome to Astro.">
  <main>
    <Header client:load />
    <Footer />
  </main>
</Layout>
