---
import Layout from "../layouts/Layout.astro";
import Header from "./../components/sections/Header";
import Footer from "../components/sections/Footer";
import AboutUs from "../components/sections/AboutUs";
import OurExpertise from "./../components/sections/OurExpertise";
import OurServices from "../components/sections/OurServices";
import OurProcess from "../components/sections/OurProcess";
import Reviews from "../components/sections/Reviews";
---

<Layout title="Welcome to Astro.">
  <main>
    <Header client:load />
    <main>
      <AboutUs />
      <OurExpertise />
      <OurServices />
      <OurProcess />
      <Reviews client:load />
    </main>
    <Footer />
  </main>
</Layout>
